fieldset {
            
    margin: 0;
}
legend {
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
input {
    
    margin: 10px;
}
button {
    
    margin: 10px;
}